In [1]:
## This is to ensure imported custom modules get loaded automatically when the module is edited.
%load_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir('C:/Users/Arnau Juanmarti/OneDrive/Machine Learning Projects/Kaggle/Playground Series/TPS Aug 2022')

In [3]:
import pandas as pd
import numpy as np
import own_functions as own ## Module with own custom functions
from own_functions import df_summary
from sklearn.preprocessing import OneHotEncoder

In [4]:
train = pd.read_csv('Original data/tabular-playground-series-aug-2022/train.csv')
test = pd.read_csv('Original data/tabular-playground-series-aug-2022/test.csv')
sample_submission = pd.read_csv('Original data/tabular-playground-series-aug-2022/sample_submission.csv')

In [5]:
df_summary(train)

Number of rows: 26570

,Type,N Unique Values,N Missings,% Missings,Values
id,int64,26570,0,0.000000,"[0, 1, 2, 3, 4]"
product_code,object,5,0,0.000000,"[A, A, A, A, A]"
loading,float64,11950,250,0.940911,"[80.1, 84.89, 82.43, 101.07, 188.06]"
attribute_0,object,2,0,0.000000,"[material_7, material_7, material_7, material_..."
attribute_1,object,3,0,0.000000,"[material_8, material_8, material_8, material_..."
attribute_2,int64,4,0,0.000000,"[9, 9, 9, 9, 9]"
attribute_3,int64,4,0,0.000000,"[5, 5, 5, 5, 5]"
measurement_0,int64,29,0,0.000000,"[7, 14, 12, 13, 9]"
measurement_1,int64,30,0,0.000000,"[8, 3, 1, 2, 2]"
measurement_2,int64,25,0,0.000000,"[4, 3, 5, 6, 8]"
measurement_3,float64,4721,381,1.433948,"[18.04, 18.213, 18.057, 17.295, 19.346]"
measurement_4,float64,4692,538,2.024840,"[12.518, 11.54, 11.652, 11.188, 12.95]"
measurement_5,float64,4671,676,2.544223,"[15.748, 17.717, 16.738, 18.576, 16.99]"
measurement_6,float64,4704,796,2.995860,"[19.292, 17.893, 18.24, 18.339, 15.746]"
measurement_7,float64,4734,937,3.526534,"[11.739, 12.748, 12.718, 12.583, 11.306]"
measurement_8,float64,4713,1048,3.944298,"[20.155, 17.889, 18.288, 19.06, 18.093]"
measurement_9,float64,4708,1227,4.617990,"[10.672, 12.448, 12.715, 12.471, 10.337]"
measurement_10,float64,6177,1300,4.892736,"[15.859, 17.947, 15.607, 16.346, 17.082]"
measurement_11,float64,6526,1468,5.525028,"[17.594, 17.915, nan, 18.377, 19.932]"
measurement_12,float64,6392,1601,6.025593,"[15.193, 11.755, 13.798, 10.02, 12.428]"
measurement_13,float64,5271,1774,6.676703,"[15.029, 14.732, 16.711, 15.25, 16.182]"
measurement_14,float64,6389,1874,7.053067,"[nan, 15.425, 18.631, 15.562, 12.76]"
measurement_15,float64,6577,2009,7.561159,"[13.034, 14.395, 14.094, 16.154, 13.153]"
measurement_16,float64,7035,2110,7.941287,"[14.684, 15.631, 17.946, 17.172, 16.412]"
measurement_17,float64,23612,2284,8.596161,"[764.1, 682.057, 663.376, 826.282, 579.885]"
failure,int64,2,0,0.000000,"[0, 0, 0, 0, 0]"

In [6]:
df_summary(test)

Number of rows: 20775

,Type,N Unique Values,N Missings,% Missings,Values
id,int64,20775,0,0.000000,"[26570, 26571, 26572, 26573, 26574]"
product_code,object,4,0,0.000000,"[F, F, F, F, F]"
loading,float64,10741,223,1.073406,"[119.57, 113.51, 112.16, 112.72, 208.0]"
attribute_0,object,2,0,0.000000,"[material_5, material_5, material_5, material_..."
attribute_1,object,3,0,0.000000,"[material_6, material_6, material_6, material_..."
attribute_2,int64,3,0,0.000000,"[6, 6, 6, 6, 6]"
attribute_3,int64,4,0,0.000000,"[4, 4, 4, 4, 4]"
measurement_0,int64,30,0,0.000000,"[6, 11, 8, 8, 14]"
measurement_1,int64,33,0,0.000000,"[9, 8, 12, 11, 16]"
measurement_2,int64,28,0,0.000000,"[6, 0, 4, 10, 8]"
measurement_3,float64,4487,329,1.583634,"[19.305, 17.883, 18.475, 16.518, 17.808]"
measurement_4,float64,4514,409,1.968712,"[10.178, 11.927, 10.481, 10.888, 12.693]"
measurement_5,float64,4500,508,2.445247,"[17.534, 17.228, 16.619, 15.293, 17.678]"
measurement_6,float64,4476,624,3.003610,"[18.168, 16.033, 18.189, 18.592, 15.814]"
measurement_7,float64,4493,720,3.465704,"[11.598, 11.179, 12.126, 11.304, 13.431]"
measurement_8,float64,4513,846,4.072202,"[18.654, 19.368, 17.774, 18.948, 19.141]"
measurement_9,float64,4471,904,4.351384,"[10.802, 12.032, 11.743, 11.79, 12.37]"
measurement_10,float64,6217,1067,5.135981,"[15.909, 13.998, 17.046, 18.165, 14.578]"
measurement_11,float64,6252,1136,5.468111,"[18.07, nan, 18.086, 16.163, 17.849]"
measurement_12,float64,5623,1240,5.968712,"[13.772, 12.473, 10.907, 10.933, 11.941]"
measurement_13,float64,5644,1303,6.271961,"[13.659, 17.468, 13.363, 15.501, 16.07]"
measurement_14,float64,5795,1440,6.931408,"[16.825, 16.708, 15.737, 15.667, 16.183]"
measurement_15,float64,6156,1542,7.422383,"[13.742, 14.776, 17.065, 12.62, 13.324]"
measurement_16,float64,6396,1678,8.077016,"[17.71, 14.102, 16.021, 16.111, 17.15]"
measurement_17,float64,18657,1740,8.375451,"[634.612, 537.037, 658.995, 594.301, 801.044]"

In [7]:
'''
ohe_cols = ['attribute_0', 'attribute_1']

train_other = train.drop(ohe_cols, axis=1)
train_ohe = train[ohe_cols]

test_other = test.drop(ohe_cols, axis=1)
test_ohe = test[ohe_cols]

# Initialize encoder
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore', drop='first')

# Encode columns in train set
train_cat_encoded = encoder.fit_transform(train_ohe)
for i, col in enumerate(train_ohe.columns):
    encoder.categories_[i] = encoder.categories_[i][1:]
cat_names = [f'{col}_{cat}' for i, col in enumerate(train_ohe.columns) for cat in encoder.categories_[i]]
train_cat_encoded_df = pd.DataFrame(train_cat_encoded, columns=cat_names)

train = train_other.join(train_cat_encoded_df)

# Encode columns in test set
test_cat_encoded = encoder.transform(test_ohe)
test_cat_encoded_df = pd.DataFrame(test_cat_encoded, columns=cat_names)

test = test_other.join(test_cat_encoded_df)
'''

"\nohe_cols = ['attribute_0', 'attribute_1']\n\ntrain_other = train.drop(ohe_cols, axis=1)\ntrain_ohe = train[ohe_cols]\n\ntest_other = test.drop(ohe_cols, axis=1)\ntest_ohe = test[ohe_cols]\n\n# Initialize encoder\nencoder = OneHotEncoder(sparse=False, handle_unknown='ignore', drop='first')\n\n# Encode columns in train set\ntrain_cat_encoded = encoder.fit_transform(train_ohe)\nfor i, col in enumerate(train_ohe.columns):\n    encoder.categories_[i] = encoder.categories_[i][1:]\ncat_names = [f'{col}_{cat}' for i, col in enumerate(train_ohe.columns) for cat in encoder.categories_[i]]\ntrain_cat_encoded_df = pd.DataFrame(train_cat_encoded, columns=cat_names)\n\ntrain = train_other.join(train_cat_encoded_df)\n\n# Encode columns in test set\ntest_cat_encoded = encoder.transform(test_ohe)\ntest_cat_encoded_df = pd.DataFrame(test_cat_encoded, columns=cat_names)\n\ntest = test_other.join(test_cat_encoded_df)\n"

In [8]:
print(train['attribute_0'].value_counts())
print(train['attribute_1'].value_counts())
print(test['attribute_0'].value_counts())
print(test['attribute_1'].value_counts())

material_7    21320
material_5     5250
Name: attribute_0, dtype: int64
material_8    10865
material_5    10362
material_6     5343
Name: attribute_1, dtype: int64
material_5    10529
material_7    10246
Name: attribute_0, dtype: int64
material_6    10529
material_5     5228
material_7     5018
Name: attribute_1, dtype: int64